body{
    font-family: "Source Code Pro";
}

.message{
    text-align: center;
    font-style: 14px;
}

.chartcontainer{
    margin: 0 auto;
    width:100%;
    max-width: 800px;
    margin-bottom: 100px;
}

h1{
    font-weight:700;
    text-align: center;
    font-size: 32px;
    margin: 0;
    position: relative;
    top: 20px;
    font-family: 'Rubik';
}

.chart svg {
    display: block; /* SVG fills the container */
    width: 100%; /* Responsive width */
    height: auto; /* Maintain aspect ratio */
    overflow: visible;
    font-family: 'Source Code Pro';
}

.legend-item{
    font-size: 12px;
}

.y-tick-label{
    color: rgba(0,0,0,0.5);
    transform: translateX(-8px);
}